*{
    margin:0;
    padding: 0;
}

html {
  height: 100%;
  margin: auto;
  width: 100%;
}

body{
    background-color:#e8edea;
    font-family: 'Lato', sans-serif;
}
.footermine {
  
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#back-top {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
}

